<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/api/create_location" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="building">Building:</label>
            <select name="building">
                <%for(var i = 0; i < buildings.length; i++){%>
                    <option value=<%=buildings[i]._id%>><%=buildings[i].name%></option>
                <%}%>
            </select>		
        </div>
        <div>
            <label for="roomNumber">Room Number:</label>
            <input type="text" name="roomNumber">
        </div>
        <div>
            <label for="floorNumber">Floor Number:</label>
            <input type="text" name="floorNumber">
        </div>
        <input type="submit" name="Submit" value="Add Location">
    </form>
</body>
</html>