<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="index.js"></script>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/assets/css/dist/tailwind.css">
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  <button id="ScannerSelectBtn">Select Scanner</button>
  <h2 id="testingID"></h2>

  <div class="max-w-sm bg-gray-700 rounded shadow-lg " style="background-color: #eeeeee;">
    <div class="w-full text-center">Building Name</div>
    <div class="w-full text-center">Company name</div>
    <div class="w-full text-center">Street, Apt/Suite, City, State, ZipCode</div>
    <div class="container flex justify-center">
      <table class=" w-10/12 " style="width:95%">
        <thead class="flex bg-nav-blue text-white rounded-t-lg" >
          <tr class="flex w-full mb-0">
            <th class="p-2 w-1/3">Location</th>
            <th class="p-2 w-1/3">Room</th>
            <th class="p-2 w-1/3">Floor</th>
          </tr>
        </thead>
        <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
        <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll h-20 text-center mb-3" style="width: 365px">
          <tr class="flex w-full odd:bg-white even:bg-table-gray">
            <td class="p-2
             w-1/3 overflow-x-hidden">Front-Desk</td>
            <td class="p-2
             w-1/3">01</td>
            <td class="p-2
             w-1/3">12</td>
          </tr>
          <tr class="flex w-full odd:bg-white even:bg-table-gray">
            <td class="p-2
             w-1/3">Dogs</td>
            <td class="p-2
             w-1/3">Cats</td>
            <td class="p-2
             w-1/3">Birds</td>
          </tr>
          <tr class="flex w-full odd:bg-white even:bg-table-gray">
            <td class="p-2
             w-1/3">Dogs</td>
            <td class="p-2
             w-1/3">Cats</td>
            <td class="p-2
             w-1/3">Birds</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
</body>
</html>
